<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory name="MysqlCon">
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">password01</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:8099/a9team1</property>
        <property name="hibernate.connection.username">team1</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="current_session_context_class">thread</property>
        <mapping class="gameServer.UserInfo" />
        <mapping class="gameServer.Scores" />
        <mapping class="gameServer.CustomGames" />
        <mapping class="gameServer.SavedGames" />
	 <mapping class="gameServer.URLImages" />
    </session-factory>
</hibernate-configuration>
